~
*.pyc
.installed.cfg
^dev$
arrak/org/dev.db
arrak/org/media/compostel.zip
parts/
eggs/
develop-eggs/
downloads/
bin/
var/
etc/
arrak.org.egg-info/
.ropeproject/config.py.hg/
.ropeproject/
.hg/
build.log
